<div class="row">
    <div class="row">
      <div class="input-field col s12">
        <strong>¿Esta seguro de eliminar el registro?</strong>
        <br />
        <ul>
            <li>
                Id: {{id}}
            </li>
            <li>
              Area: {{name}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type="button" class="btn btn-success"(click)="RemoveRecord()">Confirmar</button>
        &nbsp;<a class="btn btn-warning orange" routerLink="/parameters/evaluacion-remover">Cancelar</a>
      </div>
    </div>
</div>
